extends layout
block content
    - number = Number(number);
    - var lastCrumb = breadcrumbs.pop();
    - start = number - (number % 12);
    .breadcrumb
        each crumb in breadcrumbs
            li
                a(href=crumb.path) #{crumb.name}
        li 
            span= lastCrumb.name

    div.container-fluid
        - var path
        - var pathslice = pathname.split('/').slice(0,-1);
        - if(pathslice == ''){ 
            - path = '/';
        - }
        - else{
            - path = pathslice.join('/'); 
        - }
        ul.pager
            li.previous
                - if(number > 0){
                    - var prevNumber = number - 1;
                    a(href=list[prevNumber].relativePath + '?start=' + start + '&number=' + prevNumber) Previous 
                - }
            li 
                a(href=path + '?start=' + start) Up
            li.next
                - var nextNumber = number + 1;
                - if(nextNumber < list.length){
                    a(href=list[nextNumber].relativePath + '?start=' + start + '&number=' + nextNumber) Next
                - }

    center
        img(src=image).img-responsive.center-block.img-centered.padding-0
    div.container-fluid
        ul.pager
            li.previous
                - if(number > 0){
                    - var prevNumber = number - 1;
                    a(href=list[prevNumber].relativePath + '?start=' + start + '&number=' + prevNumber) Previous 
                - }
            li 
                a(href=path + '?start=' + start) Up
            li.next
                - var nextNumber = number + 1;
                - if(nextNumber < list.length){
                    a(href=list[nextNumber].relativePath + '?start=' + start + '&number=' + nextNumber) Next
                - }
    div.footer
