extends layout
block content
    - number = Number(number);
    - var lastCrumb = breadcrumbs.pop();
    - start = number - (number % 12);
    - var crumbNum = 0
    ul.breadcrumb
        each crumb in breadcrumbs
            - crumbNum++;
            li
                a(tabindex="-1" accesskey=crumbNum title="Access Key: " + crumbNum href=crumb.path) #{crumb.name}
        li 
            span= lastCrumb.name
        div(style="float: right")
            a(tabindex="-1" href="/logout") Logout
    
    div.container-fluid
        - var path
        - var pathslice = pathname.split('/').slice(0,-1);
        - if(pathslice == ''){ 
            - path = '/';
        - }
        - else{
            - path = pathslice.join('/'); 
        - }
        ul.pager
            li.previous
                - if(number > 0){
                    - var prevNumber = number - 1;
                    a(title="Access Key: h" accesskey="h" href=list[prevNumber].relativePath + '?start=' + start + '&number=' + prevNumber) Previous 
                - }
            li 
                a(title="Access Key: k" accesskey="k" href=path + '?start=' + start) Up
            li.next
                - var nextNumber = number + 1;
                - if(nextNumber < list.length){
                    a(title="Access Key: l" accesskey="l" href=list[nextNumber].relativePath + '?start=' + start + '&number=' + nextNumber) Next
                - }

    center
        img(src=image).img-responsive.center-block.img-centered.padding-0
    - // div.container-fluid
        ul.pager
            li.previous
                - if(number > 0){
                    - var prevNumber = number - 1;
                    a(title="Access Key: h" accesskey="h" href=list[prevNumber].relativePath + '?start=' + start + '&number=' + prevNumber) Previous 
                - }
            li 
                a(title="Access Key: k" accesskey="k" href=path + '?start=' + start) Up
            li.next
                - var nextNumber = number + 1;
                - if(nextNumber < list.length){
                    a(title="Access Key: l" accesskey="l" href=list[nextNumber].relativePath + '?start=' + start + '&number=' + nextNumber) Next
                - }
    div.footer
