extends layout
block content
    if content[content.length - 1] == 'end'
        - var end = true;
        - content.pop();
    - var lastCrumb = breadcrumbs.pop();
    - var crumbNum = 0
    ul.breadcrumb
        each crumb in breadcrumbs
            - crumbNum++;
            li
                a(tabindex="-1" accesskey=crumbNum title="Access Key: " + crumbNum href=crumb.path) #{crumb.name}
        li 
            span= lastCrumb.name
        if auth
            div(style="float: right")
                a(tabindex="-1" href="/logout") Logout
    .clearfix
    div.container
        ul.pager
            - var prev = Number(start) - 12;
            - var next = Number(start) + 12;
            if prev < 0
                li.previous.btn-lg.disabled 
                    a(tabindex="-1" href='#') 
                        span.glyphicon.glyphicon-arrow-left
            else
                li.previous.btn-lg
                    a(tabindex="-1" title="Access Key: h" accesskey="h" href=pathname + '?start=' + prev)
                        span.glyphicon.glyphicon-arrow-left
            
            - if(content.length < 12 || end )
                li.next.btn-lg.disabled
                    a(tabindex="-1" href='#')
                        span.glyphicon.glyphicon-arrow-right
            - else
                li.next.btn-lg
                    a(tabindex="-1" title="Access Key: l" accesskey="l" href=pathname + '?start=' + next)
                        span.glyphicon.glyphicon-arrow-right
        //-div.content
        - var colnum = 1;
        - var tabIndex = 1;
        center
            each item in content 
                .col-xs-12.col-sm-6.col-md-4.col-lg-3.center-block 
                    if item.type == "directory"
                        a(tabindex=tabIndex href="#{item.relativePath}").img-thumbnail
                            span(style='font-size: 10em').glyphicon.glyphicon-folder-close
                            br
                            span #{item.name}
                    else
                        a(tabindex=tabindex href=item.relativePath + '?start=' + start + '&number=' + item.number).img-thumbnail 
                            img(src=item.thumb, width=item.thumbWidth, height=item.thumbHeight, title=item.name)
                - if(colnum % 2 == 0)
                    .clearfix.visible-sm-block
                - if(colnum % 3 == 0)
                    .clearfix.visible-md-block
                - if(colnum % 4 == 0)
                    .clearfix.visible-lg-block
                - colnum++;
                - tabIndex++;

            .clearfix
        ul.pager
            if prev < 0
                li.previous.btn-lg.disabled 
                    a(tabindex="-1" href='#')
                        span.glyphicon.glyphicon-arrow-left
            else
                li.previous.btn-lg
                    a(tabindex="-1" title="Access Key: h" accesskey="h" href=pathname + '?start=' + prev)
                        span.glyphicon.glyphicon-arrow-left
            - if(content.length < 12 || end )
                li.next.btn-lg.disabled
                    a(tabindex="-1" href='#')
                        span.glyphicon.glyphicon-arrow-right
            - else
                li.next.btn-lg
                    a(tabindex="-1" title="Access Key: l" accesskey="l" href=pathname + '?start=' + next)
                        span.glyphicon.glyphicon-arrow-right
div.footer
