extends layout
block content
    script(type='text/javascript').
        $(window).keypress(function(e){
            var video = document.getElementById("videoPlayer");
            if (e.which == 32) {
                if (video.paused == true){
                    video.play();
                }
                else{
                    video.pause();
                }
            }
        });
    - number = Number(number);
    - var lastCrumb = breadcrumbs.pop();
    - start = number - (number % 12);
    - var crumbNum = 0
    .truncate-ellipsis
        ul.breadcrumb(style="width: 85%")
            each crumb in breadcrumbs
                - crumbNum++;
                li
                    a(tabindex="-1" accesskey=crumbNum title="Access Key: " + crumbNum href=crumb.path) #{crumb.name}
            li 
                span= lastCrumb.name
        if auth
            div(style="padding-right: 10px; white-space: nowrap; overflow: visible; background: #f5f5f5; text-align: right")
                a(tabindex="-1" href="/logout") Logout

    div.container-fluid
        center
            - var path
            - var pathslice = pathname.split('/').slice(0,-1);
            - if(pathslice == ''){ 
                - path = '/';
            - }
            - else{
                - path = pathslice.join('/'); 
            - }
            ul.pager
                li.previous.btn-lg
                    - if(number > 0){
                        - var prevNumber = number - 1;
                        a(title="Access Key: h" accesskey="h" href=list[prevNumber].relativePath + '?start=' + start + '&number=' + prevNumber)
                            span.glyphicon.glyphicon-arrow-left
                    - }
                li.btn-lg 
                    a(title="Access Key: k" accesskey="k" href=path + '?start=' + start)
                        span.glyphicon.glyphicon-arrow-up
                li.next.btn-lg
                    - var nextNumber = number + 1;
                    - if(nextNumber < list.length){
                        a(title="Access Key: l" accesskey="l" href=list[nextNumber].relativePath + '?start=' + start + '&number=' + nextNumber)
                            span.glyphicon.glyphicon-arrow-right
                    - }

    center
        .embed-responsive.embed-responsive-4by3
            video(id="videoPlayer" controls preload).embed-responsive-item
                - if(/\.webm$/i.test(webm)){
                    source(src=webm type='video/webm')
                - }
                - else if(/\.mp4$/i.test(webm)){
                    source(src=webm type='video/mp4')
            - }
            
    center
        div.container-fluid
            ul.pager
                li.previous.btn-lg
                    - if(number > 0){
                        - var prevNumber = number - 1;
                        a(title="Access Key: h" accesskey="h" href=list[prevNumber].relativePath + '?start=' + start + '&number=' + prevNumber)
                            span.glyphicon.glyphicon-arrow-left
                    - }
                li.btn-lg 
                    a(title="Access Key: k" accesskey="k" href=path + '?start=' + start)
                        span.glyphicon.glyphicon-arrow-up
                li.next.btn-lg
                    - var nextNumber = number + 1;
                    - if(nextNumber < list.length){
                        a(title="Access Key: l" accesskey="l" href=list[nextNumber].relativePath + '?start=' + start + '&number=' + nextNumber)
                            span.glyphicon.glyphicon-arrow-right
                    - }
    div.footer


